<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="/static/styles/about.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div class="container">
    <div class="about">
        <h1>About</h1>
    </div>
    <div class="description">
        <p>Free 2 Me Movies is a movie recommendation system that....</p>
    </div>
</div>

<script>
</script>

</body>
</html>