<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="/static/styles/about.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div class="flexbox">
    <div class="about">
        <h1>About Free2MeMovies</h1>
    </div>
    <div class="website-desc">
        <p>Free 2 Me Movies is a movie recommendation system that recommends movies that are free to you!</p>
    </div>
    <div class="services-desc">
        <h3>Your streaming services</h3>
        <p>When you select the streaming services you have access to, we will only recommend you movies that are currently available on those streaming services. This way, our movie recommendations will be free to you!</p>
    </div>
    <div class="recommendations-desc">
        <h3>Getting recommendations</h3>
        <p>Type in the name of a movie you like and click "Get Recommendations" to see movies that are free to you!</p>
    </div>
</div>

<div class="flexbox">
    <div class="about">
        <h1>About us</h1>
    </div>
</div>

<div class="about-us-flexbox">
    <div class="about-panel">
        <h3>Lindsey</h3>
        <p>When you select the streaming services you have access to, we will only recommend you movies that are currently available on those streaming services. This way, our movie recommendations will be free to you!</p>
    </div>
    <div class="about-panel">
        <h3>Hannah</h3>
    </div>
    <div class="about-panel">
        <h3>Eva</h3>
    </div>
</div>

<script>
</script>

</body>
</html>