<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Slither Sisters</title>
    <!-- External Stylesheets -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}"> -->
    <!-- <link rel="stylesheet" href="static/styles/index.css"> -->
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    <!-- Profile Button -->
    <div class="profile-container">
        <a href="profile">
            <img src="static/images/profile-icon.png" alt="Profile" class="profile-icon">
        </a>
    </div>

    <div class="home-container">
        <div class="welcome-enter-title">
            <h1 class="welcome-message">Welcome to Free 2 Me Movies!</h1>
            <!-- Movie Search Form -->
            <h2 class="enter-movie-title-text">Enter Movie Title:</h2>
        </div>
        <div>
            <form id="movie-form">
                <div class="autocomplete-container">
                    <input type="text" id="movie_title" name="movie_title" placeholder="Enter a movie title!" required>
                    <ul id="autocomplete-list" class="autocomplete-list"></ul> <!-- Ensures dropdown shows up -->
                </div>
                <div class="button-container">
                    <button type="button" id="get-recs-button">Get Movie Recommendations!</button>
                    <button type="button" id="get-streaming-info-button">Get Movie Streaming Information</button>
                </div>
            </form>

        </div>
        <!-- Display Recommendations -->
        <h2 id="recommendations-heading" style="display:none;">Recommended Movies:</h2>
        <ul id="recommendations-list"></ul>
    </div>

    <script type="module" src="static/scripts/auth_check.js"></script>
    <script type="module" src="static/scripts/movie_recs.js"></script>
    <script type="module" src="static/scripts/autocomplete.js"></script> <!-- New script for autocomplete -->

</body>

</html>