<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Slither Sisters</title>
    <!-- External Stylesheet -->
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>

<body>
    <!-- Login Button -->
    <a href="/login" class="login-btn">Login</a>

    <section>
        <h1>Free 2 Me Movies</h1>
        <p>The Ultimate Movie Recommendation Service!</p>
    </section>

    <script type="module" src="/static/scripts/app.js"></script>
</body>

</html>