<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Slither Sisters</title>
    <!-- External Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <!-- Login Button -->
    <a href="{{ url_for('static', filename='login.html') }}" class="login-btn">Login</a>

    <section>
        <h1>Free 2 Me Movies</h1>
        <p>The Ultimate Movie Recommendation Service!</p>
    </section>
</body>

</html>