<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Streaming Services</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <div style="border-radius: 20px; width: 90%; background-color: rgba(220, 220, 220, 0.907); padding: 10px 25px;" class="login-container">
            <h2 style="color: black;">Select Your Streaming Services</h2>
            <p style="color: black;">Choose the streaming services you have access to. This helps us recommend movies that are free to you!</p>
            
            <form id="streaming-form">
                <div class="checkbox-group">
                    <label><input type="checkbox" name="services" value="hulu"> Hulu</label>
                    <label><input type="checkbox" name="services" value="amazon prime video"> Amazon Prime Video</label>
                    <label><input type="checkbox" name="services" value="disney+"> Disney+</label>
                    <label><input type="checkbox" name="services" value="fubo"> Fubo</label>
                    <label><input type="checkbox" name="services" value="netflix"> Netflix</label>
                    <label><input type="checkbox" name="services" value="paramount+"> Paramount+</label>
                    <label><input type="checkbox" name="services" value="peacock"> Peacock</label>
                    <label><input type="checkbox" name="services" value="apple tv+"> Apple TV+</label>
                    <label><input type="checkbox" name="services" value="max"> Max</label>
                    <label><input type="checkbox" name="services" value="starz"> Starz</label>
                    <label><input type="checkbox" name="services" value="philo"> Philo</label>
                    <label><input type="checkbox" name="services" value="mubi"> Mubi</label>
                    <label><input type="checkbox" name="services" value="amc+"> AMC+</label>
                    <label><input type="checkbox" name="services" value="youtube"> Youtube</label>
                    <label><input type="checkbox" name="services" value="plex"> Plex</label>
                </div>

                <button type="submit">Save Preferences</button>
                <a style="color: black;" href="/home" class="back-btn">&#x2190 Back to Home</a>
            </form>
        </div>
    </div>

    <script type="module" src="/static/scripts/initializeUsers.js"></script> <!-- Script to handle selections -->
    <script type="module" src="/static/scripts/streamingPreferences.js"></script>

</body>
</html>
