<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/styles/profile.css"> 
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
    <div style="background-color: rgba(220, 220, 220, 0.907); padding: 18px; border-radius: 25px;" class="login-container">
        <h2 style="color: black;">User Profile</h2>

        <div id="user-info">
            <p style="color: black;"><strong>Email:</strong> <span id="user-email">Loading...</span></p>
        </div>

        <button id="edit-services">Edit Streaming Services</button>
        <button id="logout">Logout</button>

        <a style="color: black;" href="/home" class="back-btn">&#x2190 Back to Home</a>
    </div>

    <script type="module" src="/static/scripts/profile.js"></script>
</body>
</html>