.flexbox {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    background-color: pink;
    padding: 10px 75px;
    align-self: center;
}

.website-desc {
    background-color: purple;
    align-self: center;
}

.recommendations-desc {
    background-color: orange;
    align-self: center;
}

.services-desc {
    background-color: lightblue;
    align-self: center;
}