.flexbox {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.about {
    background-color: rgb(169, 9, 9);
    padding: 10px 75px;
    align-self: center;
    border-radius: 25px;
}

.website-desc, .services-desc, .recommendations-desc {
    background-color: purple;
    align-self: center;
    margin-top: 25px;
    text-align: center;
    min-width: 200px;
    max-width: 500px;
    /* flex: 1; */
}
/* 
.recommendations-desc {
    background-color: orange;
    align-self: center;
    margin-top: 25px;
}

.services-desc {
    background-color: lightblue;
    align-self: center;
    margin-top: 25px;
} */

.about-us-flexbox {
    display: flex;
    /* background-color: lightgreen; */
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.about-panel {
    /* display: flex; */
    background-color: aliceblue;
}